# __Data Sourcing__

Importing libraries

In [28]:
import numpy as np
import pandas as pd

## __Section 1: Reading a CSV File__

In [29]:
tracks_df = pd.read_csv('data/spotify.csv')
tracks_df.head(3)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.581,0.0,0.0931,0.931,95.977,233713.0,4.0
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.229,0.0,0.0924,0.813,88.931,228827.0,4.0
2,4aWmUDTfIPGksMNLV2rQP,Despacito (Featuring Daddy Yankee),Luis Fonsi,0.660,0.786,2.0,-4.757,1.0,0.1700,0.209,0.0,0.1120,0.846,177.833,228200.0,4.0

## __Section 2: API__

Application Programming Interface (API) is a program or code that allow to conect various application of each other

In [30]:
import requests

In [31]:
def fetch_lyrics(artists, title):
    """
    Get lyrics from Seeds Lyrics API. Returns empty string if song not found
    """
    url = f'https://lyrics.lewagon.ai/search?artist={artists}&title={title}'
    response = requests.get(url)
    if response.status_code != 200:
        return ''
    data = response.json()
    return data['lyrics']

In [32]:
fetch_lyrics('The Beatles','Come Together')

'Here come old flat-top, he come groovin\' up slowly\nHe got ju-ju eyeball, he one holy roller\nHe got hair down to his knee\nGot to be a joker, he just do what he please\n\nHe wear no shoeshine, he got toe-jam football\nHe got monkey finger, he shoot Coca-Cola\nHe say, "I know you, you know me"\nOne thing I can tell you is you got to be free\n\nCome together, right now\nOver me\n\nHe bag production, he got walrus gumboot\nHe got Ono sideboard, he one spinal cracker\nHe got feet down below his knee\nHold you in his armchair, you can feel his disease\n\nCome together, right now\nOver me\n\nRight!\n\nCome, come, come, come...\n\nHe roller-coaster, he got early warnin\'\nHe got muddy water, he one mojo filter\nHe say, "One and one and one is three"\nGot to be good-lookin\' \'cause he\'s so hard to see\n\nCome together, right now\nOver me\n\nUgh!\n\nCome together, yeah\nCome together, yeah\nCome together, yeah\nCome together, yeah\nCome together, yeah\nCome together, yeah\nCome together, yeah\nAgh!\nCome together, yeah\nCome together, yeah\nCome together...'

In [33]:
fetch_lyrics('Metallica', 'Nothing Else Matters')

"So close no matter how far\nCouldn't be much more from the heart\nForever trusting who we are\nAnd nothing else matters\n\nNever opened myself this way\nLife is ours, we live it our way\nAll these words I don't just say\nAnd nothing else matters\n\nTrust I seek and I find in you\nEvery day for us something new\nOpen mind for a different view\nAnd nothing else matters\n\nNever cared for what they do\nNever cared for what they know\nBut I know\n\nSo close no matter how far\nCouldn't be much more from the heart\nForever trusting who we are\nAnd nothing else matters\n\nNever cared for what they do\nNever cared for what they know\nBut I know\n\nNever opened myself this way\nLife is ours, we live it our way\nAll these words I don't just say\nAnd nothing else matters\n\nTrust I seek and I find in you\nEvery day for us something new\nOpen mind for a different view\nAnd nothing else matters\n\nNever cared for what they say\nNever cared for games they play\nNever cared for what they do\nNever cared for what they know\nAnd I know\n\nSo close no matter how far\nCouldn't be much more from the heart\nForever trusting who we are\nNo, nothing else matters"

In [34]:
fetch_lyrics('The Beatles', "Wouldn't it be nice")

''

### Combining Our DataFrame Tracks of the Section 1 With the API

In [35]:
tracks_df['lyrics'] = ""

In [36]:
tracks_df.head(3)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,lyrics
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.581,0.0,0.0931,0.931,95.977,233713.0,4.0,
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.229,0.0,0.0924,0.813,88.931,228827.0,4.0,
2,4aWmUDTfIPGksMNLV2rQP,Despacito (Featuring Daddy Yankee),Luis Fonsi,0.660,0.786,2.0,-4.757,1.0,0.1700,0.209,0.0,0.1120,0.846,177.833,228200.0,4.0,

In [37]:
%%time
for index, row in tracks_df.head(5).iterrows():
    print(f"Fetching lyrics for {row['artists']} - {row['name']}")
    lyrics = fetch_lyrics(row['artists'], row['name'])
    tracks_df.loc[index, 'lyrics'] = lyrics

Fetching lyrics for Ed Sheeran - Shape of You
Fetching lyrics for Luis Fonsi - Despacito - Remix
Fetching lyrics for Luis Fonsi - Despacito (Featuring Daddy Yankee)
Fetching lyrics for The Chainsmokers - Something Just Like This
Fetching lyrics for DJ Khaled - I'm the One
CPU times: user 187 ms, sys: 22 ms, total: 209 ms
Wall time: 4.17 s

In [38]:
print(tracks_df.loc[0,'lyrics'][0:150])

The club isn't the best place to find a lover
So the bar is where I go (mmmm)
Me and my friends at the table doing shots
Drinking fast and then we tal

In [39]:
tracks_df.head(3)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,lyrics
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.581,0.0,0.0931,0.931,95.977,233713.0,4.0,The club isn't the best place to find a lover\...
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.229,0.0,0.0924,0.813,88.931,228827.0,4.0,
2,4aWmUDTfIPGksMNLV2rQP,Despacito (Featuring Daddy Yankee),Luis Fonsi,0.660,0.786,2.0,-4.757,1.0,0.1700,0.209,0.0,0.1120,0.846,177.833,228200.0,4.0,

## __Section 3: SQL__

In [40]:
import sqlite3

In [41]:
conn = sqlite3.connect('data/tweets.sqlite')

In [42]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type ='table'")
print(cursor.fetchall())

[('Tweets',)]

In [43]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Tweets")
print(cursor.fetchall())

[(14485,)]

In [44]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM Tweets LIMIT 4")
print(cursor.fetchall())

[(567588278875213824, 'neutral', 1, '', '', 'Delta', '', 'JetBlueNews', '', 0, "@JetBlue's new CEO seeks the right balance to please passengers and Wall ... - Greenfield Daily Reporter http://t.co/LM3opxkxch", '', '2015-02-16 23:36:05 -0800', 'USA', 'Sydney'), (567590027375702016, 'negative', 1, "Can't Tell", 0.6503, 'Delta', '', 'nesi_1992', '', 0, '@JetBlue is REALLY getting on my nerves !! ○ #nothappy', '', '2015-02-16 23:43:02 -0800', 'undecided', 'Pacific Time (US & Canada)'), (567591480085463040, 'negative', 1, 'Late Flight', 0.34600000000000003, 'United', '', 'CPoutloud', '', 0, '@united yes. We waited in line for almost an hour to do so. Some passengers just left not wanting to wait past 1am.', '', '2015-02-16 23:48:48 -0800', 'Washington, DC', ''), (567592368451248130, 'negative', 1, 'Late Flight', 1, 'United', '', 'brenduch', '', 0, '@united the we got into the gate at IAH on time and have given our seats and closed the flight. If you know people is arriving, have to wait', '', '2015-02-16 23:52:20 -0800', '', 'Buenos Aires')]

In [45]:
tweets_df = pd.read_sql("""
SELECT airline_sentiment, airline, name
FROM Tweets
WHERE airline_sentiment = 'positive'""",conn)
tweets_df.head(3)

  airline_sentiment    airline             name
0          positive  Southwest          rjp1208
1          positive      Delta    twinkletaters
2          positive      Delta  TravellerLukose

In [46]:
tweets_df = pd.read_sql("SELECT airline_sentiment, airline, name FROM Tweets",conn)
tweets_df.head(3)

  airline_sentiment airline         name
0           neutral   Delta  JetBlueNews
1          negative   Delta    nesi_1992
2          negative  United    CPoutloud

Tambien se puede hacer un df con dos tablas de sql

__Ejemplo de clase:__

   
  ```python
  listens_df = pd.read_sql ("""
  SELECT artist_mb, listenners_lastfm
  FROM artist_info a
  JOIN popularity p on p.mbid = a.mbid
  WHERE listeners_lastfm > 500000
  """, conn)
  ```


  ```python
  listens_df.head(3)
  ```

|  | asrtis_mb | listeners_lastfm |
| ----| ----| ----|
| 0 | Coldplay | 5381567.0 |
| 1 | Radiohead | 4732528.0 |
| 2 | Red Hot Chili Peppers | 4620835.0 |

Y con esa informaci贸n se puede unir a trav茅s de un __merge__ con nuestro DataFrame de __Tracks__:

  ```python
  tracks_df = tracks_df.merge(
  listens_df,
  left_on = "artists"
  right_on = "artist_mb"
  how = "left"
  )
  ```

## __Section 4: Scraping__

More information [here]('https://www.crummy.com/software/BeautifulSoup/bs4/doc/#getting-help).

Buscando en Wikipedia el cumplea帽os de Ed Sheeran

In [47]:
import requests
from bs4 import BeautifulSoup
import re

In [48]:
url = 'https://en.wikipedia.org/wiki/Ed_Sheeran'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')  # Response.text muestra el formato html
life_info = soup.find('span', style= 'display:none')
clean_birthday = life_info.text.strip()[1:-1]
print(clean_birthday)

1991-02-17

In [49]:
life_info = soup.find('div', style= 'display:inline')
print(life_info.text.strip())

Edward Christopher Sheeran

##### More of BeautifulSoup

In [50]:
tag = soup.th
type(tag)

bs4.element.Tag

In [51]:
tag.name

'th'

In [52]:
tag.name = 'blockquote' # changing a tag name
tag

<blockquote class="infobox-above" colspan="2" style="font-size:125%;"><div class="fn" style="display:inline-block">Ed Sheeran</div><br/><div class="honorific-suffix" style="font-size: 77%; font-weight: normal; display:inline-block;"><span class="noexcerpt nowraplinks" style="font-size:100%; font-weight:normal;"><a href="/wiki/Order_of_the_British_Empire" title="Order of the British Empire">MBE</a></span></div></blockquote>

In [53]:
tag = BeautifulSoup(response.text, 'html.parser').th
tag['class']

['infobox-above']

In [54]:
tag.attrs

{'colspan': '2', 'class': ['infobox-above'], 'style': 'font-size:125%;'}

In [55]:
tag.attrs.keys()

dict_keys(['colspan', 'class', 'style'])

You can add, remove, and modify a tags attributes. Again, this is done by treating the tag as a dictionary:

In [56]:
tag['colspan'] = '3' #modify
tag['another-atribute'] = '1' #add
tag

<th another-atribute="1" class="infobox-above" colspan="3" style="font-size:125%;"><div class="fn" style="display:inline-block">Ed Sheeran</div><br/><div class="honorific-suffix" style="font-size: 77%; font-weight: normal; display:inline-block;"><span class="noexcerpt nowraplinks" style="font-size:100%; font-weight:normal;"><a href="/wiki/Order_of_the_British_Empire" title="Order of the British Empire">MBE</a></span></div></th>

In [57]:
#Remove
del tag['colspan']
del tag['another-atribute']
tag

<th class="infobox-above" style="font-size:125%;"><div class="fn" style="display:inline-block">Ed Sheeran</div><br/><div class="honorific-suffix" style="font-size: 77%; font-weight: normal; display:inline-block;"><span class="noexcerpt nowraplinks" style="font-size:100%; font-weight:normal;"><a href="/wiki/Order_of_the_British_Empire" title="Order of the British Empire">MBE</a></span></div></th>

In [58]:
tag['colspan']
# KeyError: 'colspan'
tag.get('colspan')
# None

KeyError: 'colspan'

##### Ahora, vamos a crear una funcion que podamos reutilizar

In [59]:
def birthday_scraper(artist):
    formatted_artist = artist.replace(" ", "_")
    # Wikipedia URL for the artist's page
    url = f'https://en.wikipedia.org/wiki/{formatted_artist}'
    # Send a GET request to fetch the webpage
    try:
        # Get the response
        response = requests.get(url)
        # Turn it into Soup
        soup = BeautifulSoup(response.text, 'html.parser')
        #Find the right tag
        life_info = soup.find('span', style='display:none')
        clean_birthday = life_info.text.strip()[1:-1]
        return clean_birthday
    except:
        return 'Inconclusive'

In [60]:
artist_list = list(set(tracks_df['artists'].tolist()))
len(artist_list)

78

In [61]:
birthdays = []
for artist in artist_list:
    birthday = birthday_scraper(artist)
    birthdays.append(birthday)

In [ ]:
birthdays_df =pd.DataFrame({'Artists': artist_list,
                            'Birthday': birthdays})

In [ ]:
birthdays_df

Podemos unir nuestro DataFrame de cumplea帽os con nuestro DataFrame tracks a trav茅s de la operaci贸n Merge, pero vamos a ver otra opci贸n usando __Map__. Map nos permite aplicar una funci贸n a todos los items de una columna en Pandas:

In [ ]:
tracks_df['birthday'] = tracks_df['artists'].map(lambda x: birthday_scraper(x))

In [ ]:
tracks_df

## __Section 5: Some Faster Graphs with Pandas__

In [ ]:
tracks_df['duration_ms'].hist(bins = 50);

In [ ]:
import re
pattern = r'\d{4}-\d{2}-d{2}'
# Find only the rows that have valid birthdays
only_bdays = tracks_df[tracks_df['birthday'] != 'Inconclusive']

In [ ]:
# Convert to a datetime format
only_bdays['birthday'] = pd.to_datetime(only_bdays['birthday'])

In [ ]:
only_bdays.plot.scatter('birthday', 'duration_ms');
# este ejemplo era con listeners_lastfm pero no tuvimos el archivo, por eso se tomo duration_ms